body{
    font-family: 'Lora', serif;
}
h1{
    font-size: 50px;
}
.tillte-colour{
    color: orange;
}
.slide{
    display: flex;
    margin-bottom: 150px;
    margin-left: 9%;
}
.half-side{
    width:50%;
}
.half-side img{
    width:65%;
    margin-left: 3%;
}
.batom{
    text-decoration: none;
    background-image: linear-gradient(#0d71ce,orange);
    padding: 10px 15px;
    border: 5%;
    border-radius: 15%;
    color: aliceblue;
    font-weight: bolder;
}
.left-margin{
    border-left:4px #e9390e solid;
}
.font-edit{
    width:45%;
    margin-left:5%;
    margin-right: 5%;
    padding-left:1%;
    padding-right:1% ;
    border-radius: 9%;
    box-shadow: 10px 10px 43px rgb(12, 52, 161);
    background-color: hsl(330, 62%, 77%);
}
.font-edit img{
    width:50%;
}
.font-centar{
    text-align:center;
}
.third-section{
    display: flex;
    margin-bottom: 150px;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position:left;
    background-size:17%;
}
.second-half-side{
    width: 50%;
    margin-left: 5%;
}
.second-half-side img{
    width:75%;
    margin-left:20%;
}
.four-section{
    display: flex;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;background-size:19%;
    background-position: right;
}
.push{
    width: 50%;
    margin-left:8% ;
}
.push img{
    width: 75%;
}
.five-section{
    display: flex;
}
.middle{
    width:50%;
    margin-left:4%;
}
.middle img{
    width: 60%;
    margin-left: 26%;
    background-image: url(images/shapes/shape-3.png);
    background-repeat: no-repeat;
    background-size:60%;}
    .footer{
        background-color: hsl(0, 26%, 14%);
        color: blanchedalmond;
        text-align: center;
}
.last-colour{
    color: brown;
    font-size:95%;
}